@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);

  --background-color: #ffffff;

}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: linear-gradient(
    #8d4d13 0.89%,
    #8d4d13 55.12%,
    #E57813 71.54%,
    #5F3000 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}


.text-gradient {
  background: linear-gradient();
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-brown-orange-white-gradient {
  background: linear-gradient(
    180deg, /* Change the gradient direction to top to bottom */
    #8B4513, /* Brown color (#8B4513) */
    #FFA500, /* Orange color (#FFA500) */
    #FFFFFF /* White color (#FFFFFF) */
  );
}


.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}


.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}


@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.sidebar-bottom {
  -webkit-animation: slide-bottom 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-bottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes slide-bottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.sidebar-top2 {
  -webkit-animation: slide-top1 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top1 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-top1 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes slide-top1 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.sidebar-right {
  -webkit-animation: slide-right 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes slide-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.sidebar-delay-right {
  -webkit-animation: slide-delay-right 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: slide-delay-right 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes slide-delay-right {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes slide-delay-right {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}

.sidebar-delay-left {
  -webkit-animation: slide-delay-left 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: slide-delay-left 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes slide-delay-left {
  0% {
    transform: translateX(-200%); /* Start off-screen to the left */
  }
  100% {
    transform: translateX(0); /* Slide it into the screen from the left */
  }
}

@-webkit-keyframes slide-delay-left {
  0% {
    transform: translateX(-200%); /* Start off-screen to the left */
  }
  100% {
    transform: translateX(0); /* Slide it into the screen from the left */
  }
}


.sidebar-left-20 {
  -webkit-animation: slide-left-20 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left-20 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-left-20 {
  0% {
    transform: translateX(-18%);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes slide-left-20 {
  0% {
    transform: translateX(-18%);
  }
  100% {
    transform: translateX(0);
  }
}

.sidebar-left {
  -webkit-animation: slide-left 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes slide-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.sidebar-out {
  position: fixed;
  right: 0; /* Position it at the right side */
  top: 0; /* You can adjust this to position it vertically */
  animation: slide-out-right 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes slide-out-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%); /* Slide it out to the right */
  }
}

.sidebar-out-left {
  position: fixed;
  left: 0; /* Position it at the left side */
  top: 0; /* You can adjust this to position it vertically */
  animation: slide-out-left 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes slide-out-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Slide it out to the left */
  }
}


.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.orange__gradient {
  background: linear-gradient(180deg, #FFA500 100%, #FFA500 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}